@import "tailwindcss";

:root {
  --primary: #b60a0a;
  --secondary: #4bee00;
  --tertiary: #75d6ff;
  --dark: #013d97;
  --light: #fffcfc;
  --red: #790505;
  --green: #39aa04;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-dark: var(--dark);
  --color-light: var(--light);
  --color-red: var(--red);
  --color-green: var(--green);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-henny-penny: var(--font-henny-penny);
  --font-atma: var(--font-atma);
}

body {
  background: var(--primary);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M60.5 30.5h-6.9l4.2-4.2c.6-.6.6-1.5 0-2.1s-1.5-.6-2.1 0l-6.3 6.3h-4.7l2.5-2.5c.6-.6.6-1.5 0-2.1s-1.5-.6-2.1 0l-4.6 4.6h-4.8l9-9h8.9c.8 0 1.5-.7 1.5-1.5s-.7-1.5-1.5-1.5h-5.9l5.5-5.5c.6-.6.6-1.5 0-2.1s-1.5-.6-2.1 0l-5.5 5.5v-5.9C45.5 9.6 44.9 9 44 9s-1.5.7-1.5 1.5v8.9l-9 9v-4.8l4.6-4.6c.6-.6.6-1.5 0-2.1s-1.5-.6-2.1 0l-2.5 2.5v-4.7l6.3-6.3c.6-.6.6-1.5 0-2.1s-1.5-.6-2.1 0l-4.2 4.2v-7c0-.8-.7-1.5-1.5-1.5s-1.5.7-1.5 1.5v6.9l-4.2-4.2c-.6-.6-1.5-.6-2.1 0s-.6 1.5 0 2.1l6.3 6.3v4.7L28 16.8c-.6-.6-1.5-.6-2.1 0s-.6 1.5 0 2.1l4.6 4.6v4.8l-9-9v-8.9c0-.8-.7-1.4-1.5-1.4s-1.5.7-1.5 1.5v5.9L13 10.9c-.6-.6-1.5-.6-2.1 0s-.6 1.5 0 2.1l5.5 5.5h-5.9c-.9 0-1.5.6-1.5 1.5s.7 1.5 1.5 1.5h8.9l9 9h-4.8L19 25.9c-.6-.6-1.5-.6-2.1 0s-.6 1.5 0 2.1l2.5 2.5h-4.7l-6.3-6.3c-.6-.6-1.5-.6-2.1 0s-.6 1.5 0 2.1l4.2 4.2h-7c-.8 0-1.5.7-1.5 1.5s.7 1.5 1.5 1.5h6.9l-4.2 4.2c-.6.6-.6 1.5 0 2.1c.3.3.7.4 1.1.4s.8-.1 1.1-.4l6.3-6.3h4.7L16.8 36c-.6.6-.6 1.5 0 2.1c.3.3.7.4 1.1.4s.8-.1 1.1-.4l4.6-4.6h4.8l-9 9h-8.9c-.9 0-1.5.7-1.5 1.5s.7 1.5 1.5 1.5h5.9L10.9 51c-.6.6-.6 1.5 0 2.1c.3.3.7.4 1.1.4s.8-.1 1.1-.4l5.5-5.5v5.9c0 .8.7 1.5 1.5 1.5s1.5-.7 1.5-1.5v-8.9l9-9v4.8L25.9 45c-.6.6-.6 1.5 0 2.1c.3.3.7.4 1.1.4s.8-.1 1.1-.4l2.5-2.5v4.7l-6.3 6.3c-.6.6-.6 1.5 0 2.1c.3.3.7.4 1.1.4s.8-.1 1.1-.4l4.2-4.2v6.9c0 .8.7 1.5 1.5 1.5s1.5-.7 1.5-1.5v-6.9l4.2 4.2c.3.3.7.4 1.1.4s.8-.1 1.1-.4c.6-.6.6-1.5 0-2.1l-6.3-6.3v-4.7l2.5 2.5c.3.3.7.4 1.1.4s.8-.1 1.1-.4c.6-.6.6-1.5 0-2.1l-4.6-4.6v-4.8l9 9v8.9c0 .8.7 1.5 1.5 1.5s1.5-.7 1.5-1.5v-5.9l5.5 5.5c.3.3.7.4 1.1.4s.8-.1 1.1-.4c.6-.6.6-1.5 0-2.1l-5.5-5.5H54c.8 0 1.5-.7 1.5-1.5s-.7-1.5-1.5-1.5h-8.9l-9-9h4.8l4.6 4.6c.3.3.7.4 1.1.4s.8-.1 1.1-.4c.6-.6.6-1.5 0-2.1l-2.5-2.5h4.7l6.3 6.3c.3.3.7.4 1.1.4s.8-.1 1.1-.4c.6-.6.6-1.5 0-2.1l-4.2-4.2h6.9c.8 0 1.5-.7 1.5-1.5s-1.3-1.5-2.1-1.5' fill='%2375d6ff' opacity='0.3'/%3E%3C/svg%3E");
  /* Snowflake favicon.ico and snowflake.svg
  Copyright (c) 2025 [joypixels; svgrepo.com]
  Licensed under the MIT License. */
  background-repeat: repeat;
  background-size: 120px 120px;
  color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
}

.atma {
  font-family: var(--font-atma);
}

.hennyPenny {
  font-family: var(--font-henny-penny);
}

.button {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 20px;
  transition: all 0.5s ease;
}

.button1 {
  background-color: var(--secondary);
  color: var(--dark);
  border-color: var(--secondary);
}

.button1:not(:disabled):hover {
  color: var(--tertiary);
  background-color: var(--green);
  border-color: var(--green);
  box-shadow: 0 0 10px 0 var(--green);
  cursor: pointer;
}

.button2 {
  background-color: var(--primary);
  color: var(--light);
  border-color: var(--primary);
}

.button2.delete {
  border-color: var(--light);
}

.button2:not(:disabled):hover {
  background-color: var(--red);
  color: var(--tertiary);
  border-color: var(--red);
  box-shadow: 0 0 10px 0 var(--red);
  cursor: pointer;
}

.button3 {
  background-color: var(--dark);
  color: var(--tertiary);
  border-color: var(--dark);
}

.button3:not(:disabled):hover {
  background-color: var(--tertiary);
  color: var(--dark);
  box-shadow: 0 0 10px 0 var(--dark);
  cursor: pointer;
}